.serif {
    font-family: 'Source Serif Pro', serif;
}

.article-card h2 {
    font-size: 1.5em;
    margin: 0 0 8px 0;
}

.article-card h5 {
    font-size: 0.8em;
    margin: 0 0 8px 0;
}

.article h1 {
    font-size: 3em;
    margin: 0 0 8px 0;
}

.article h5 {
    font-size: 1em;
    margin: 0 0 8px 0;
}