@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,500,600&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    background: rgb(240, 242, 243);
    font-family: 'Noto Serif JP', 'Times New Roman';
    font-size: 18px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.8);
}

/* Typography */

h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 84px;
    margin-top: 0;
    margin-bottom: 18px;
}

h2 {
    font-family: 'Helvetica', 'Arial';
    font-size: 36px;
    font-weight: 600;
    line-height: 51px;
    margin-top: 0;
    margin-bottom: 18px;
}

h3 {
    font-family: 'Helvetica', 'Arial';
    font-weight: 100;
    font-size: 36px;
    line-height: 43px;
    margin-top: 0;
    margin-bottom: 18px;
}

h4 {
    /* font-family: 'Helvetica', 'Arial'; */
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 18px;
}

h5 {
    font-family: 'Helvetica', 'Arial';
    font-weight: 100;
    font-size: 14px;
    line-height: 48px;
}

p {
    font-size: 18px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 36px;
}

blockquote {
    font-size: 21px;
    line-height: 42px;
}

a {
    color: rgba(0,0,0,0.8);
    text-decoration: underline;

	transition: 0.125s;
}

a:hover {
    color: #90AAC3;
}

.caption {
    font-size: 14px;
}

@media screen and (min-width: 780px) and (max-width: 1023px){
    h1 {
        font-size: 42px;
        font-weight: 400;
        line-height: 80px;
        margin-top: 0;
        margin-bottom: 18px;
    }

    h2 {
        font-size: 36px;
        line-height: 48px;
        margin-top: 0;
        margin-bottom: 18px;
    }

    h3 {
        font-size: 36px;
        line-height: 48px;
        margin-top: 0;
        margin-bottom: 18px;
    }

    h4 {
        font-size: 24px;
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 18px;
    }

    p {
        font-size: 18px;
        line-height: 36px;
        margin-top: 0;
        margin-bottom: 36px;
    }

    blockquote {
        font-size: 18px;
        line-height: 36px;
    }
}

@media screen and (max-width: 779px) and (min-width: 564px){
    body {
        font-size: 14px;
        line-height: 28px;
    }

    h1 {
        font-size: 36px;
        line-height: 72px;
        margin-top: 0;
        margin-bottom: 18px;
    }

    h2 {
        font-size: 24px;
        line-height: 48px;
        margin-top: 0;
        margin-bottom: 18px;
    }

    h3 {
        font-size: 24px;
        line-height: 48px;
        margin-top: 0;
        margin-bottom: 18px;
    }

    h4 {
        font-size: 18px;
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 18px;
    }

    p {
        font-size: 16px;
        line-height: 32px;
        margin-top: 0;
        margin-bottom: 36px;
    }

    blockquote {
        font-size: 18px;
        line-height: 36px;
    }
}

@media screen and (max-width: 563px){
    body {
        font-size: 14px;
        line-height: 28px;
    }
    
    h1 {
        font-size: 36px;
        line-height: 72px;
        margin-top: 0;
        margin-bottom: 12px;
    }

    h2 {
        font-size: 24px;
        line-height: 42px;
        margin-top: 0;
        margin-bottom: 12px;
    }

    h3 {
        font-size: 24px;
        line-height: 42px;
        margin-top: 0;
        margin-bottom: 12px;
    }

    h4 {
        font-size: 18px;
        line-height: 27px;
        margin-top: 0;
        margin-bottom: 12px;
    }

    p {
        font-size: 14px;
        line-height: 28px;
        margin-top: 0;
        margin-bottom: 24px;
    }

    blockquote {
        font-size: 18px;
        line-height: 36px;
    }
}

/* Structure and Spacing */

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

.spacer8px{
    height: 8px;
}

.spacer16px{
    height: 16px;
}

.spacer32px{
    height: 32px;
}

.spacer64px{
    height: 64px;
}

.spacer128px{
    height: 128px;
}

.spacerRespBig{
    height: 128px;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
}

.fh-1 {
    width: 10%;
    margin-right: 2.5%;
}

.fh-2 {
    width: 22.5%;
    margin-right: 2.5%;
}

.fh-3 {
    width: 35%;
    margin-right: 2.5%;
}

.fh-4 {
    width: 47.5%;
    margin-right: 2.5%;
}

.fh-5 {
    width: 60%;
    margin-right: 2.5%;
}

.fh-6 {
    width: 72.5%;
    margin-right: 2.5%;
}

.fh-7 {
    width: 85%;
    margin-right: 2.5%;
}

.fh-8 {
    width: 100%;
}



@media screen and (min-width: 780px) and (max-width: 1023px){
    .spacerRespBig{
        height: 128px;
    }
}

@media screen and (max-width: 779px) and (min-width: 564px){
    .fh-1 {
        width: 7.5%;
        margin-right: 5%;
    }
    
    .fh-2 {
        width: 20%;
        margin-right: 5%;
    }
    
    .fh-3 {
        width: 32.5%;
        margin-right: 5%;
    }
    
    .fh-4 {
        width: 45%;
        margin-right: 5%;
    }
    
    .fh-5 {
        width: 57.5%;
        margin-right: 5%;
    }
    
    .fh-6 {
        width: 70%;
        margin-right: 5%;
    }
    
    .fh-7 {
        width: 82.5%;
        margin-right: 5%;
    }
    
    .fh-8 {
        width: 100%;
    }

    .spacerRespBig{
        height: 64px;
    }

}

@media screen and (max-width: 563px){
    .fh-1 {
        width: 40%;
        margin-right: 10%;
    }
    
    .fh-2 {
        width: 100%;
    }
    
    .fh-3 {
        width: 100%;
    }
    
    .fh-4 {
        width: 100%;
    }
    
    .fh-5 {
        width: 100%;
    }
    
    .fh-6 {
        width: 100%;
    }
    
    .fh-7 {
        width: 100%;
    }
    
    .fh-8 {
        width: 100%;
    }

    .spacerRespBig{
        height: 64px;
    }

}